<div class="pergunta">
    <p>Clique na imagem abaixo para ouvir o áudio e escreva no campo o nome que você ouviu</p>
    <img src="http://localhost:8000/app/views/images/voice.png" alt="Voice image" class="voice" id="btnSpeak">
    <form id="form-p2" autocomplete="off">
        <input type="text" name="resposta" id="txtInput" placeholder="Digite a palavra que você ouviu">
        <button>OK</button>
    </form>
</div>
<script src="http://localhost:8000/app/views/scripts/pergunta2.js"></script>
<script src="http://localhost:8000/app/views/scripts/voice.js"></script>